@use '../abstracts/variables';
@use '../abstracts/mixins';
@use 'sass:color';

.card {
  width: calc((100% - 8rem) / 3);
  padding: 2rem 2.4rem;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: variables.$color-white-1;
  border-radius: 2rem;


    &__discount-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    &__discount {
        border-radius: 5px;
        padding: 1rem 0;
        width: 5.1rem;
        height: 4rem;
        background-color: variables.$color-text-discount-light;
        text-align: center;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.53;
        color: variables.$color-text-discount;
    }

    &__img {
        border-radius: 1rem;
        width: 33.6rem;
        height: 24rem;
        margin-bottom: 2rem;
    }

    &__heart-box {
        background-color: variables.$color-blue-light;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        text-align: center;
        padding: 1rem 0;

        &:focus,
        &:hover {
            background-color: color.mix(black, variables.$color-blue-light, 30%);
        }
    }

   &__svg {
        stroke: variables.$color-blue;
        fill: transparent;
        @include mixins.transition;

        &:active {
            fill: variables.$color-text-discount;
            stroke: transparent;
        }  
    }

    &__devices-box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__devices-link {
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.53;
        color: variables.$color-blue;
        padding: 1rem;
        text-align: center;
        background-color: variables.$color-blue-light;
        @include mixins.transition;

        &:focus,
        &:hover {
           background-color: color.mix(black, variables.$color-blue-light, 30%);               
        }

        &:active {
            color: variables.$color-text-discount;
        } 
    }

    &__price {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2;
        color: variables.$color-text-1;
    }

    &__name {
        font-family: "Heldane Display", sans-serif;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 1.33;
        color: variables.$color-text-3;
        padding-bottom: 3rem;
    }

    &__btn {
        display: inline-block;
        width: calc((100% - 0.6rem) / 2);
    }
}
