@import '../variables.scss';
.button-add {
        font-weight: 500;
        font-size: $default-font-size;
        line-height: 2;
        text-align: center;
        color: $color-text-4;
        padding: 1.4rem 0;
        border-radius: 0.8rem;
        border: none;
        background-color: transparent;
        transition: all .3s;

        &:hover,
        &:active {
            background-color: $color-text-discount;
        }

       }