@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.button-add {
        font-weight: 500;
        font-size: $default-font-size;
        line-height: 2;
        text-align: center;
        color: $color-text-4;
        padding: 1.4rem 0;
        border-radius: 0.8rem;
        border: none;
        background-color: transparent;
        transition: all .3s;

        @include hover;
        @include active-focus;
       }