@import '../variables.scss';
.button-buy {
    padding: 1.4rem 0;
    background-color: $color-blue;
    border-radius: 0.8rem;
    font-weight: 500;
    font-size: $default-font-size;
    line-height: 2;
    text-align: center;
    color: $color-white-1;
    border: none;
    transition: all .3s;

    &:hover,
    &:active {
        background-color: $color-blue-hover;
    }
}