@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.button-buy {
    padding: 1.4rem 0;
    background-color: $color-blue;
    border-radius: 0.8rem;
    font-family: "Moderat Regular";
    font-weight: 500;
    font-size: $default-font-size;
    line-height: 2;
    text-align: center;
    color: $color-white-1;
    border: none;
    @include transition;

    @include hover-active-focus;
    
}