@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.heading {
    background-color: $color-white-2;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4.5rem 0; 
    }

    &__text {
        font-weight: 500;
        font-size: $default-font-size;
        line-height: 1.5;
        color: $color-text-2;
        &--2 {
            @include link-hover-active-focus;
        }
    }
 
}

