@font-face {
    font-family: 'Moderat Regular';
    src: url("../../assets/fonts/Moderat-Regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url("../../assets/fonts/Heldane-Display-medium.woff2") format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url("../../assets/fonts/Heldane-Display-regular.woff2") format('woff2');
    font-weight: 400;
    font-display: swap;
}