@use '../abstracts/variables';

@mixin hover-active-focus  {   
    &:hover {
        background-color: variables.$color-blue-hover;
    }

    &:active,
    &:focus { 
     background-color: variables.$color-text-discount;
    } 
}


@mixin link-hover-active-focus {
    &:hover {
        color: variables.$color-blue-hover;
    }

    &:active,
    &:focus { 
     color: variables.$color-text-discount;
    }
}

@mixin transition {
    transition: all .3s;
    cursor: pointer;
}