@mixin hover-active-focus  {   
    &:hover {
        background-color:$color-blue-hover;
    }

    &:active,
    &:focus { 
     background-color: $color-text-discount;
    } 
}


@mixin link-hover-active-focus {
    &:hover {
        color:$color-blue-hover;
    }

    &:active,
    &:focus { 
     color: $color-text-discount;
    }
}

@mixin transition {
    transition: all .3s;
    cursor: pointer;
}