<footer class="footer">
    <div class="footer__container container">
        <div class="footer__logo-box">
            <a href="/index.html" class="footer__text-heading">Your Company</a>
            <p class="footer__text">Our mission is to make gadjet purchase, accessible and affordable.</p>
        </div>
        <div class="footer__link-box">
            <p class="footer__text-heading">Helpful Links</p>
            <a href="#" class="footer__text">Home</a>
            <a href="#" class="footer__text">About Us</a>
            <a href="#" class="footer__text">Marketplace</a>
            <a href="#" class="footer__text">Blog</a>
            <a href="#" class="footer__text">Contact Us</a>
        </div>
        <div class="footer__link-box">
            <p class="footer__text-heading">Helpful Links</p>
            <a href="#" class="footer__text">Home</a>
            <a href="#" class="footer__text">About Us</a>
            <a href="#" class="footer__text">Marketplace</a>
            <a href="#" class="footer__text">Blog</a>
            <a href="#" class="footer__text">Contact Us</a>
        </div>
        <div class="footer__link-box">
            <p class="footer__text-heading">Contact Us</p>
            <div class="footer__social-links-box">
                <a href="#" class="footer__social-link"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-facebook"></use>
                  </svg></a> 
                  <a href="#" class="footer__social-link"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-twitter"></use>
                  </svg></a> 
                  <a href="#" class="footer__social-link"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-instagram"></use>
                  </svg></a> 
                  <a href="#" class="footer__social-link"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-linkedin"></use>
                  </svg></a> 
            </div>
            <a href="#" class="footer__text">hello@yourcompany.com</a>
    
        </div>
    </div>
</footer>