<footer class="footer">
    <div class="footer__container container">
        <div class="footer__logo-box">
            <a href="/index.html" class="footer__text-heading">Your Company</a>
            <p class="footer__text">Our mission is to make gadjet purchase, accessible and affordable.</p>
        </div>
        <div class="footer__link-box">
            <p class="footer__text-heading">Helpful Links</p>
            <a href="#" class="footer__text link-text">Home</a>
            <a href="#" class="footer__text link-text">About Us</a>
            <a href="#" class="footer__text link-text">Marketplace</a>
            <a href="#" class="footer__text link-text">Blog</a>
            <a href="#" class="footer__text link-text">Contact Us</a>
        </div>
        <div class="footer__link-box">
            <p class="footer__text-heading">Site Map</p>
            <a href="#" class="footer__text link-text">Our Mobile App</a>
            <a href="#" class="footer__text link-text">Frequently Asked Questions</a>
            <a href="#" class="footer__text link-text">Help Desk</a>
            <a href="#" class="footer__text link-text">Privacy Policy</a>
            <a href="#" class="footer__text link-text">Terms and Conditions</a>
        </div>
        <div class="footer__link-box">
            <p class="footer__text-heading">Contact Us</p>
            <div class="footer__social-links-box">
                <a href="https://www.facebook.com/" class="footer__social-link" target="_blank"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-facebook"></use>
                  </svg></a> 
                  <a href="https://www.twitter.com/" class="footer__social-link" target="_blank"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-twitter"></use>
                  </svg></a> 
                  <a href="https://www.instagram.com/" class="footer__social-link" target="_blank"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-instagram"></use>
                  </svg></a> 
                  <a href="https://www.linkedin.com/" class="footer__social-link" target="_blank"> <svg class="footer__social-link-svg" width="16" height="16">
                    <use href="/img/icons/icons.svg#icon-linkedin"></use>
                  </svg></a> 
            </div>
            <address>
            <a class="footer__text link-text" href="mailto:hello@yourcompany.com">hello@yourcompany.com</a>
            </address>
        </div>
    </div>
</footer>