<section class="section-our-top-deals">
    <div class="heading">
        <div class="heading__container container">
            <h2 class="heading__text">Our Top Deals</h2>
            <p class="heading__text">Explore &rarr;</p>
        </div>
        <ul class="container">
            <li class="card">
                <div class="card__discount-box">
                    <p class="card__discount">-59%</p>
                    <svg class="card__svg" width="20" height="20">
                      <use href="../img/icons/icons-2.svg#icon-heart.svg"></use>
                    </svg>
                </div>
                <img src="/img/devices-img/device@2x.png" alt="device" class="card__img">
                <div class="card__devices-box">
                    <a href="#" class="card__devices-link">Audio Devices</a>
                    <p class="card__price">#600.000</p>
                </div>
                <h3 class="card__name">Nokia Essential Wireless <br> Headphones 120CM BLACK</h3>
                <div class="card__button-box">
                    <a href="#" class="card__add">Add to Cart</a>
                    <button class="button card__button" type="button">Buy Now</button>
                </div>
            </li>
            <li class="card"></li>
            <li class="card"></li>
        </ul>
    </div>
</section>
