@import './abstracts/variables.scss';
@import './abstracts/mixins.scss';

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    padding: 3.3rem 0;
}

.navigation {
    display: flex;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2;
    color: #141414;
  
    &__logo {
    margin-right: 11rem;
  }
  
    &__list {
    display: flex;
    gap: 6rem;
  }

    &__link {
     @include link-hover-active-focus;
    }
}
  .shopping {
    display: flex;
    gap: 2rem;

    &__bag {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5.4rem;
        width: 5.4rem;
        background-color: $color-blue;
        border-radius: 50%;
        transition: all .3s;
        
        @include hover-active-focus; 
    }

    &__bag-icon {
        stroke: #fafafa;
        fill: none;
    }
  }