@import './variables.scss';

.section-hero {
    height: 70rem;
    padding: 5rem 0;
    background-image: url(../img/hero-img/hero@2x.webp);
    background-position: right;
    background-size: 50%;
    background-repeat:no-repeat;
}

.hero-content-box {
    padding: 19.6rem 0;
    max-width: 34rem;
}

.hero-heading {
    font-weight: 700;
    font-size: $default-font-size;
    line-height: 2.5;
    color: $color-text-1;
    margin-bottom: 2.4rem;

      &__span {
        display: block;
        width: 30.9rem;
        height: 16rem;
        font-weight: 500;
        font-size: 6.2rem;
        line-height: 1.25;
        color:$color-text-1;
    }
}