//Colors
$color-text-1: #141414;
$color-text-2: #000;
$color-text-3: #101828;
$color-text-4: #020e27;
$color-text-5: #979797;
$color-text-discount: #eb3131;

$color-blue: #413dee;
$color-blue-hover: #8a0d9d;
$color-blue-light: rgba(65, 61, 238, 0.08);
//Font
$default-font-size: 1.6rem;

//backgrounds
$color-white-1: #fff;
$color-white-2: #f8f8f8;